<div class="admin-container" *ngIf="AuthStatus">
  <div class="row" >
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header"> </div>
            <ul class="nav navbar-nav">
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/dashboard/posts">Posts</a></li>
                <li><a routerLink="/dashboard/pages">Pages</a></li>
                <li><a routerLink="/dashboard/media">Media</a></li>
                <li><a routerLink="/dashboard/users">Users</a></li>
                <li><a routerLink="/dashboard/users/logout">Logout</a> </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row" >
        <h2 class="text-center">Edit User</h2>
      </div>
      <div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
                {{StatusMessage}}
                <form novalidate >

                <p>Username: <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" placeholder="Username" /></p>
                <p>Password: <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" placeholder="Password" /></p>
                <p>Email: <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" placeholder="Email" /></p>
                <p>User Type: <select class="form-control" name="usertype" id="usertype" [(ngModel)]="model.usertype" placeholder="User Type">
                    <option value="user" [attr.selected]="model.usertype=='user'? true : null">User</option>
                    <option value="administrator" [attr.selected]="model.usertype=='administrator'? true : null">Administrator</option>
                </select></p>
                <p>
                  <input type="hidden" name="_id" id="_id" [(ngModel)]="model._id" />
                  <button type="submit" class="button button-default" name="submt" id="submt" (click)="submtUpdtUser()">Submit</button></p>
                </form>
     
    </div>
  </div>
</div>
</div>

