<div class="admin-container" *ngIf="AuthStatus">
    <div class="row" >
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <div class="navbar-header"> </div>
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/posts">Posts</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/pages">Pages</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/media">Media</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/users">Users</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/settings">Settings</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/users/logout">Logout</a> </li>
          </ul>
        </div>
      </nav>
        </div>
        <div class="row" >
          <h2 class="text-center">Add New Users</h2>
        </div>
        <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
                  {{StatusMessage}}
                  <form novalidate >
                  <p>Username: <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" placeholder="Username" /></p>
                  <p>Password: <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" placeholder="Password" /></p>
                  <p>Email: <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" placeholder="Email" /></p>
                  <p>User Type: <select class="form-control" name="usertype" id="usertype" [(ngModel)]="model.usertype" placeholder="User Type">
                      <option value="user">User</option>
                      <option value="administrator">Administrator</option>
                  </select></p>
                  <p><button type="submit" class="button button-default" name="submt" id="submt" (click)="submtAddNewUser()">Submit</button></p>
                  </form>
       
      </div>
    </div>
  </div>
  </div>
