<div class="admin-container" *ngIf="AuthStatus">
  <div class="container">
    <div class="row" >
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <div class="navbar-header"> </div>
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/posts">Posts</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/pages">Pages</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/media">Media</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/users">Users</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/dashboard/users/logout">Logout</a> </li>
          </ul>
        </div>
      </nav>
        </div>
        <div class="row" >
          <h2 class="text-center">Users <small><a routerLink="/dashboard/users/add">Add New</a></small></h2>
        </div>
    <div class="row">
      <table class="table table-bordered table-hover" [mfData]="Users" #mf="mfDataTable" [mfRowsOnPage]="10">
        <tbody>
        
        <tr *ngFor="let user of mf.data">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.usertype}}</td>
          <td>
            <a class="action-link" routerLink="/dashboard/users/edit/{{user._id}}">Edit</a>
            <a class="action-link" routerLink="/dashboard/users/delete/{{user._id}}">Delete</a>
          </td>
        </tr>
      </tbody>
        <thead>
            <tr>
                <th width="30%"><mfDefaultSorter by="username">USERNAME</mfDefaultSorter></th>
                <th width="30%"><mfDefaultSorter by="email">EMAIL</mfDefaultSorter></th>
                <th width="20%"><mfDefaultSorter by="usertype">TYPE</mfDefaultSorter></th>
                <th width="20%">ACTIONS</th>
              </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>