.admin-container{ background:rgba(248, 247, 247,0.7); margin: 10px; padding:20px; min-height:450px;}
.statusmsg{ font-weight: bold; color:#f00; font-size: 10px;}
.listTable{width:98%; border:10px solild #999;}
.action-link{margin-left: 5px; padding:10px; background: #049; color:#fff; text-decoration: none;}